body {
	margin: 0px 0px;
	padding: 0px;
	background: #fff url(seamless_pale_orange_texture.jpg); 
	color: #333;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.container {
	width: 960px;
	margin: 5px auto;
	padding: 5px 20px 30px 20px;
	background: #fff;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
	border-radius: 10px;	
}

.top_nav_container {
	width: 960px;
	margin: 5px auto;
	padding: 5px 20px;
	background: #fff;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.top_nav_container ul {
	margin: 0;
	padding: 0;
	text-align: center;
	}

.top_nav_container ul li { 
	display: inline;
	list-style-type: none;
	padding-right: 20px; 
	}

.post {
	

}

.post ul {
	margin: 0;
}

.post li {
	list-style-type: none;
	margin: 0 0 10px -30px;
	padding: 5px;
	border-radius: 5px;
	border: 0px solid #808;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

#notice {
	text-align: center;
	font-weight: bold;
}

.picture {
	position:relative;
	float:right;
	margin:  0 20px; 
}









