<div class="top_nav_container">
	<ul>
		<li><%= link_to "Posts feed", posts_url %></li>
		<li><%= link_to "Search foods", foods_url %></li>
		<li><%= link_to "Post food", new_food_url %></li>
	</ul>
</div>